<%- include('header') %>
<body>
<section class="instructions">
<h1>FastLED API</h1>
<h2>Control RGB LEDs Remotely!</h2>
</section>

<form class="animation-form">
<h3>Select an animation</h3>
  <div class="form-control">
    <select name="name" id="animselect" class="animation-select">
      <option value="blink">Blink</option>
      <option value="cylon">Cylon</option>
      <option value="rainbow">Rainbow</option>
    </select>
    <label for="delay">Delay</label>
    <input type="number" placeholder="(milliseconds)" name="delay" class = "animation-delay">
    <button type="submit">Submit</button>
  </div>
</form>

<section class="animations-container">
<h3>Current Animations:</h3>
<ul class="animations-list">
  <% for(let i = 0; i < info.length; i++){ %>
    <li class="single-animation">
      <span><%= info[i].name %></span>
      <span><%= info[i].delay %></span>
      <button type="button" class="rm-animation" id="<%= info[i]._id %>">Remove</button>
    </li>
  <% } %>
</ul>
</section>

<footer>
  <h4>Links:</h4>
  <ul>
    <li>
      <span>
        <a href="https://github.com/diespinoza/arduino-node-server">Github</a>
      </span>
    </li>
  </ul>
</footer>

<script type="text/javascript" src="js/main.js"></script>
