    <footer>
      <h4> This is the footer </h3>
      <ul>
        <li>
          <span><a href="https://github.com/diespinoza/arduino-node-server">Github</a></span>
        </li>
      </ul>
      
    </footer>
  </body>
</html>
