<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="This is the neopixel api description">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Neopixel API</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">

    <!-- Stand-In for the Favico Icon. Will get one later
      adding this line will make an extra get request to /
      keep this out until you get an icon
    <link rel="shortcut icon" href="#">
    -->
  </head>
  <body>
    <h1>Neopixel API</h1>
